{% load static bulma_tags %}
<html lang="ES">

<head>
    <meta charset="UTF-8">
    <title>SafaEat</title>
    {% block css %}
        {% font_awesome %}
        <link rel="stylesheet" href="{% static 'bulma/css/style.min.css' %}">
        {% block extra_css %}{% endblock extra_css %}


        {# Cargamos la librería #}
        {% load bootstrap4 %}
         {# Icons Bootstrap #}
        {% load bootstrap_icons %}

        {# CSS Bootstrap #}
        {% bootstrap_css %}

    {% endblock css %}


</head>

{% block header %}
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="{% static 'Logo.png' %}" width="80" height="180" alt="">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/safaEat">
        Home
      </a>

      <a class="navbar-item" href="{% url 'restaurantes' %}">
        Restaurantes
      </a>

        {#ADMINISTRADOR#}
        {% if user is not None and  user.rol == "Propietario" or user.rol == "Admin"  %}
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Administración
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" href="{% url 'crear_restaurante' %}" >
                        Restaurantes
                    </a>
                    <a class="navbar-item">
                        Productos
                    </a>
                    <a class="navbar-item">
                        Sitios
                    </a>
                </div>
            </div>
        {% endif %}

        {#CLIENTE#}
        {% if user is not None and  user.rol == "Cliente" %}
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Mi Actividad
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item">
                        Favoritos
                    </a>
                    <a class="navbar-item">
                        Mis Pedidos
                    </a>
                    <a class="navbar-item">
                        Mis Dados
                    </a>
                </div>
            </div>
        {% endif %}






    </div>



    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
         {% if user is not None and  user.rol == "Cliente" %}
              <a class="button is-primary" href="{% url 'register' %}">
                <i>{% bs_icon 'cart' %}</i>
            </a>
         {% endif %}
            <a class="button is-primary" href="{% url 'register' %}">
                Registro
            </a>
            {% if user.is_authenticated %}
                <a class="button is-primary" href="{% url 'logout' %}">
                    Log out
                </a>
            {% else %}
               <a class="button is-light" href="{% url 'login' %}">
                    Log in
                </a>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
</nav>
{% endblock header %}


</html>

