<!DOCTYPE html>
<html>
  <head>
    <title>Error</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      /* Estilos CSS para centrar el GIF */
      .center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
    </style>
  </head>
  <body>
   <div class="row">
       <div class="center" style="height: auto"><h1>NO TIENES PERMISO</h1></div>
   </div>
    <div class="center">
     <div class="tenor-gif-embed" data-postid="27221660" data-share-method="host" data-aspect-ratio="1.77778" data-width="50%"><a href="https://tenor.com/view/que-mir%C3%A1s-bobo-messi-gif-27221660">Que Mirás Bobo Messi GIF</a>from <a href="https://tenor.com/search/que+mir%C3%A1s+bobo-gifs">Que Mirás Bobo GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
    </div>
  </body>
</html>
