
{% include "barra_navegacion.html" %}


<div class="container text-center">
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
        <form id="formulario_busqueda" action="/safaEat/buscar" method="GET">
            <div class="mb-3">
                <label for="busqueda" class="form-label">Busca tu dirección</label>
                <input type="search" class="form-control" id="busqueda" name="busqueda" aria-describedby="emailHelp">
            </div>
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>
    </div>
    <div class="col">
    </div>
  </div>
</div>







</body>
</html>