
{% include "barra_navegacion.html" %}
 {# Icons Bootstrap #}
      {% load bootstrap_icons %}

<div class="row row-cols-1 row-cols-md-3 g-4">
{% for rest in restaurantes %}
    <div class="col">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-12">
                    <figure class="image is-1by1">
                        <img class="is-rounded" src="{{ rest.url }}" alt="">
                    </figure>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ rest.nombre }}</h5>
                        <p class="card-text"> {{ rest.ciudad }} </p>
                        <p class="card-text"> {{ rest.tipo }} </p>
                        <p class="card-text">  {% bs_icon 'people-fill' %} {{ rest.capacidad }}</p>
                        <p class="card-text"><small
                                class="text-body-secondary"> {% bs_icon 'calendar' %} {{ rest.fecha_fundacion|date:'d/m/Y' }}</small></p>

                        {% if user is not None and  user.rol == "Propietario" or user.rol == "Admin" %}
                            <p class="card-text"><a
                                    href="/safaEat/restaurantes/eliminar/{{ rest.id }}">{% bs_icon 'trash' %}  </a></p>
                        {% endif %}

                         <p class="card-text"> <a href="/safaEat/restaurantes/productos/{{rest.id}}">{% bs_icon 'basket' %}  </a> </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>


